*{margin: 0;padding: 0;}
html{position: relative;}
body{text-align: center;background: #F7FAFC;overflow: hidden;background: #fff;}
#canvas{display: inline-block;}
	a{text-decoration: none;}
	.memu,.dmemu{position: absolute;top: 80px;left: 50%;width: 440px;margin-left:-220px;}
	.dmemu{margin-top: 120px;}
	.memudn{animation:memudn 0.5s linear;}
	.dmemudn{animation:dmemudn 1.5s linear;}
	.disn{display: none;}
	.box{position: absolute;top: 0;left: 50px;width: 300px;height: 260px;animation:bx 20s;}
	p{position: relative;margin-bottom: 20px;}
	label{display: inline-block;width: 77px;color: #514d4a;font-size: 16px;line-height: 40px;text-align: right;font-weight: bold;}
	input{width: 345px;height: 40px;border:1px solid #dbdbdb;color: #979797;float: right;padding-left: 10px;}
	span{position: relative;display: block;}
	span input{width: 165px;float: none;margin-right: 5px;}
	.btn{float: right;}
	.btn input{width: 170px;height: 42px;margin-right: 0;padding-left: 0;background-color: #eee;color:#514d4a;border:1px solid #dbdbdb;}
	.xvan input{float: left;width: 15px;height: 15px;margin:19px 0 0 63px;}
	.xvan{float: left;line-height: 50px;font-size: 14px;}
	.btn1 input{width: 355px;background-color: #3f89ec;color: #fff;border-radius:6px;font-size: 16px;font-weight: bold;padding: 0;}
	p i,span i{width: 300px;position: absolute;left: 445px;top: 10px;text-align: left;}




@keyframes memudn{
		0%{}
		100%{
			opacity:1;
			transform: perspective(500px) rotate3d(0, 1, 0, 90deg);
		}
	}
@keyframes dmemudn{
		0%{
			opacity:1;
			transform: perspective(500px) rotate3d(0, 1, 0, 90deg);
		}
		100%{
			opacity:1;
			transform: perspective(500px) rotate3d(0, 1, 0, 360deg);
		}
	}
	@keyframes bx{
		from{
			opacity:0;
			background-color: #c01;
			transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    		-webkit-clip-path: polygon(0 0,98.5% 0, 100% 30%, 97.5% 100%,0 100%);
		}
		8%{
			opacity:0.8;
			background-color: #2e0;
			transform: perspective(800px) rotate3d(1, 1, 1, 160deg);
    		-webkit-clip-path: polygon(0 50%,0 100%, 10% 30%, 9% 10%,20% 90%);
		}
		15%{
			opacity:1;
			background-color: #5cf;
			transform: perspective(400px) rotate3d(1, 1, 0, 700deg);
    		-webkit-clip-path: polygon(20% 50%,50% 80%, 10% 30%, 9% 60%,2% 90%);
		}
		20%{
			opacity:1;
			background-color: #b93;
			transform: perspective(200px) rotate3d(0, 1, 1, 360deg);
    		-webkit-clip-path: polygon(0 2%, 9% 0, 16% 30%, 93% 18%,0 13%);
		}
		27%{
			opacity:1;
			background-color: #FFB5C5;
			transform: perspective(200px) rotate3d(0, 1, 1, 360deg);
    		-webkit-clip-path: polygon(14% 35%, 35% 92%, 0 31%, 93% 88%,13% 63%);
		}
		35%{
			opacity:1;
			background-color: #FF0000;
			transform: perspective(200px) rotate3d(0, 0, 0, 360deg);
    		-webkit-clip-path: polygon( 6.8% 9%, 25.28% 0, 42.78% 7%, 50% 17.5%,57.22% 7%, 74.72% 0, 93.2% 9%, 100% 29.25%, 96.37% 45%, 85.9% 60.5%, 76.1% 70.75%, 65.9% 80%, 57.96%  89.25%, 50% 100%, 42.04% 89.25%, 34.1% 80%, 23.9% 70.75%, 14.1% 60.5%, 3.63% 45%, 0 29.25%);
		}

		70%{
			opacity:1;
			background-color: #FF0000;
			transform: perspective(200px) rotate3d(1, 1, 1, 800deg);
    		-webkit-clip-path: polygon( 6.8% 9%, 25.28% 0, 42.78% 7%, 50% 17.5%,57.22% 7%, 74.72% 0, 93.2% 9%, 100% 29.25%, 96.37% 45%, 85.9% 60.5%, 76.1% 70.75%, 65.9% 80%, 57.96%  89.25%, 50% 100%, 42.04% 89.25%, 34.1% 80%, 23.9% 70.75%, 14.1% 60.5%, 3.63% 45%, 0 29.25%);
		}
		95%{
			opacity:1;
			background-color: #FF0000;
			transform: perspective(200px) rotate3d(0, 1, 1, 720deg);
    		-webkit-clip-path: polygon( 6.8% 9%, 25.28% 0, 42.78% 7%, 50% 17.5%,57.22% 7%, 74.72% 0, 93.2% 9%, 100% 29.25%, 96.37% 45%, 85.9% 60.5%, 76.1% 70.75%, 65.9% 80%, 57.96%  89.25%, 50% 100%, 42.04% 89.25%, 34.1% 80%, 23.9% 70.75%, 14.1% 60.5%, 3.63% 45%, 0 29.25%);
		}
		100%{
			opacity:0;
			background-color: #FF0000;
			transform: perspective(200px) rotate3d(0, 1, 1, 720deg);
    		-webkit-clip-path: polygon( 6.8% 9%, 25.28% 0, 42.78% 7%, 50% 17.5%,57.22% 7%, 74.72% 0, 93.2% 9%, 100% 29.25%, 96.37% 45%, 85.9% 60.5%, 76.1% 70.75%, 65.9% 80%, 57.96%  89.25%, 50% 100%, 42.04% 89.25%, 34.1% 80%, 23.9% 70.75%, 14.1% 60.5%, 3.63% 45%, 0 29.25%);
		}
	}
